export OS_AUTH_URL=http://controller:35357/v2/
export OS_IDENTITY_API_VERSION=3
export OS_PROJECT_NAME=myproject
export OS_PROJECT_DOMAIN_NAME=default
export OS_USERNAME=admin
export OS_USER_DOMAIN_NAME=default
export OS_PASSWORD=
export OS_AUTH_URL=cat ~/mycode/credmaker/admin.rc
export OS_IDENTITY_API_VERSION=3
export OS_PROJECT_NAME=exit
export OS_PROJECT_DOMAIN_NAME=exit
export OS_USERNAME=apsdas
export OS_USER_DOMAIN_NAME=as
export OS_PASSWORD=a
export OS_AUTH_URL=http://controller:35357/v2/
export OS_IDENTITY_API_VERSION=3
export OS_PROJECT_NAME=myproject
export OS_PROJECT_DOMAIN_NAME=default
export OS_USERNAME=admin
export OS_USER_DOMAIN_NAME=default
export OS_PASSWORD=alta3
